body {
    background: rgb(240, 236, 236);
    color: rgb(219, 20, 113);
    margin: 0px;
    font-family: "Nerko One", system-ui;
}

header {
    border-bottom: solid 4px rgb(208, 208, 230);
    padding: 20px;
    font-size: 40px;
}

.chamada {
    display: flex;
    background: rgb(250, 242, 244);
    padding-bottom: 80px;
    padding-top: 8px;
    justify-content: center;
}

.titulo-video {
    margin-right: 20px;
    font-size: 15px;
}

img {
    height: 300px;
}

.categoria-video {
    overflow-x: auto;
    gap: 20px;
    display: flex;

}

.fila {padding-left: 30px;
padding-right:30px;

}

.fila-videos img {opacity: 0,5;
height: 200px;

}

.fila-videos img:hover {
    opacity: 1,0;
}
